<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TimeTable</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header class="header">
      <a href="/">Home</a>
      <a href="/Lecture">Lecture</a>
      <a href="/Lab">Lab</a>
      <a href="/Tutorial">Tutorial</a>
    </header>
    <div class="container">
      <div class="header-h1">
        <h1 class="home-h1">Welcome to your Time Table</h1>
      </div>
    </div>
    <div class="tableType">
      <div class="flex Oone">
        <img src="clock.jpg" alt="clock">
        <p>It helps you to keep records of your important lectures and labs on your fingertips.</p>
      </div>
      <div class="flex Ttwo">
        <img src="remas.png" alt="remas">
        <p>The records can be easily edited in case of changes in time table. You can add or delete the records as per your choice</p>
      </div>
      <div class="flex Tthree">
        <img src="easy.png" alt="easy">
        <p>Very easy to use and nice User Interface.</p>
      </div>

      <div class="flex Ffour">
      </div>
    </div>
    <footer>Made by: Parth Naghera, DAIICT</footer>



  </body>
</html>
